@font-face {
    font-family: 'Pathway Gothic';
    font-stretch: expanded;
    src: url('../fonts/PathwayGothicOne-Regular.ttf');
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Medium.ttf');
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Light.ttf');
}

* {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 11pt;
    margin: 0;
    padding: 0;
}

.title {
    float: left;
    background-image: url(../../assets/images/contact-logo.svg);
    background-size: cover;
    height: 100px;
    width: 100px;
}

@media only screen and (min-width: 1020px) {
    .nav-links {
        display: block;
    }
}

@media only screen and (max-width: 1020px) {
    .nav-links {
        display: none;
    }
}

nav {
    padding: 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    user-select: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #fbfbfb;
    border-bottom: 1px solid white;
    z-index: 100;
}

nav.hovering {
    border-bottom: 2px solid #eee;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
    position: fixed;
}

.nav-links li {
    display: inline-block;
    margin-right: 70px;
    line-height: 60px;
}

.nav-links .nav-link {
    color: #67545b;
    cursor: pointer;
    font-family: 'Rubik', 'Pathway Gothic', sans-serif;
    font-size: 16pt;
    font-weight: bold;
    transition: color 0.3s;
    font-variant: small-caps;
}

.nav-links .nav-link:hover {
    color: #2196F3;
}

.nav-links .nav-link.active:hover {
    color: #3F51B5;
}

.nav-link.active {
    cursor: default;
    color: #3F51B5;
    font-weight: bold;
}

.nav-link sup {
    font-family: inherit;
    font-size: 10pt;
}

nav .title {
    float: left;
}

.nav-links {
    float: right;
}

#contact-link {
    margin-right: 50px;
}

#contact-link::before {
    color: #673AB7;
    content: "CONTACT";
    position: absolute;
    padding-left: 0px;
    opacity: 0;
    transition: 0.1s all linear;
}

#contact-link:hover::before {
    opacity: 1;
    padding-left: 80px;
}

#contact-link::after {
    content: '2';
    font-size: 11pt;
    position: absolute;
    margin-left: 2px;
    opacity: 1;
    transition: 0.2s opacity;
    top: 8px;
}

#contact-link:hover::after {
    opacity: 0;
}

.text-center {
    text-align: center;
}

body {
    /* linear-gradient(to bottom right, transparent, #659bb5), */
    /* url(../images/landing-background-grid.svg) */
    background: #659bb5;
    background-size: 80px 80px;
    background-position: 0px 20px;
    overflow-x: hidden;
}

.contact-title {
    float: left;
    font-family: 'Quicksand', 'Rubik', sans-serif;
    font-size: 30pt;
    line-height: 60px;
    margin-left: 20px;
    color: #434343;
}

#contact-logo {
    float: left;
}

#printer-container {
    width: 600px;
    height: 445.479px;
    position: relative;
    right: 138px;
}

@media only screen and (max-width: 800px) {
    #printer-container {
        width: 120vw;
    }
}

section.footer {
    background-color: #16272b;
    padding: 50px;
    color: #7fa9b7;
    text-align: center;
}

section.footer img {
    margin-right: 30px;
    opacity: 0.9;
}

section.footer img:hover {
    opacity: 1;
}

@media only screen and (max-width: 800px) {
    section.footer img {
        display: block;
    }
}

footer {
    display: inline-block;
    margin: 40px;
    width: 50%;
    font-family: 'Rubik', sans-serif;
    font-size: 10pt;
    border-top: 1px solid #7fa9b7;
    padding-top: 40px;
}