@viewport {
    zoom: 1;
    min-zoom: 1;
}

@-ms-viewport {
    zoom: 1;
    min-zoom: 1;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-Regular.ttf');
}

@font-face {
    font-family: 'Fredoka One';
    src: url('../fonts/FredokaOne-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'Pathway Gothic';
    font-stretch: expanded;
    src: url('../fonts/PathwayGothicOne-Regular.ttf');
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Medium.ttf');
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Light.ttf');
}

@keyframes focusText {
    0% { filter: blur(5px); }
    25% { filter: blur(5px); }
    100% { filter: none; }
}

* {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 11pt;
    margin: 0;
    padding: 0;
}

.title {
    float: left;
    background-image: url(../../assets/images/contact-logo.svg);
    background-size: cover;
    height: 100px;
    width: 100px;
}

@media only screen and (min-width: 1020px) {
    .nav-links {
        display: block;
    }

    .nav-mobile {
        display: none !important;
    }
}

@media only screen and (max-width: 1020px) {
    nav {
        background-color: black !important;
    }

    .nav-links {
        display: none;
        width: 100%;
        position: absolute;
        background-color: white;
        z-index: -1;
        left: 0;
        top: 90px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        padding-bottom: 20px;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }
    
    .nav-link {
        color: black !important;
        font-weight: bold;
    }

    #contact-link {
        margin-right: 0px !important;
    }

    #contact-link:hover::after {
        opacity: 1 !important;
    }

    #contact-link::before {
        content: "" !important;
    }

    .nav-mobile {
        display: inline-block !important;
    }

    #printer-container {
        height: auto !important;
    }
}

#landing-focus {
    border-radius: 50%;
    box-shadow: inset 0px 0px 40px black, inset 0px 2px 40px white;
    position: absolute;
    z-index: 50;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    user-select: none;
    z-index: 100;
}

nav.hovering {
    border-bottom: 2px solid #eee;
    background-color: #fbfbfb;
    border-bottom: 1px solid white;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.2);
    position: fixed;
}

.nav-links li {
    display: inline-block;
    margin-right: 70px;
    line-height: 60px;
}

.nav-links .nav-link {
    color: white;
    cursor: pointer;
    font-family: 'Rubik', 'Pathway Gothic', sans-serif;
    font-size: 11pt;
    transition: color 0.3s;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-links .nav-link:hover {
    color: #2196F3;
}

.nav-links .nav-link.active:hover {
    color: white;
    font-weight: bold;
}

.nav-link.active {
    cursor: default;
    font-weight: bold;
}

.nav-link sup {
    font-family: inherit;
    font-size: 10pt;
}

nav .title {
    float: left;
}

.nav-links {
    float: right;
}

#contact-link {
    margin-right: 50px;
}

#contact-link::before {
    color: #80DEEA;
    content: "CONTACT";
    position: absolute;
    padding-left: 0px;
    opacity: 0;
    transition: 0.1s all linear;
    font-weight: bold;
}

#contact-link:hover::before {
    opacity: 1;
    padding-left: 75px;
}

#contact-link::after {
    content: '2';
    font-size: 11pt;
    position: relative;
    margin-left: 2px;
    opacity: 1;
    transition: 0.2s opacity;
    bottom: 10px;
}

#contact-link:hover::after {
    opacity: 0;
}

.text-center {
    text-align: center;
}

body {
    /* linear-gradient(to bottom right, transparent, #659bb5), */
    /* url(../images/landing-background-grid.svg) */
    background: #16272b;
    background-size: 80px 80px;
    background-position: 0px 20px;
    overflow-x: hidden;
}

.background-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.contact-title {
    float: left;
    font-family: 'Quicksand', 'Rubik', sans-serif;
    font-size: 30pt;
    line-height: 60px;
    margin-left: 20px;
    color: white;
}

#contact-logo {
    float: left;
}

.hero.container {
    white-space: nowrap;
    background-color: #81D4FA;
}

#printer-container {
    margin-top: 100px;
    width: 600px;
    height: 445.479px;
    position: relative;
    right: 138px;
    display: inline-block;
    vertical-align: middle;
}

#caption-container {
    display: inline-block;
    position: absolute;
    left: 550px;
    top: 209px;
}

#caption-container p {
    font-family: 'Nunito', 'Montserrat', 'Fredoka One', sans-serif;
    font-size: 30pt;
    margin: 10px;
    color: white;
    text-shadow: 0px 2px 0px #00000061;
}

@media only screen and (max-width: 800px) {
    #caption-container {
        display: block;
        padding-top: 30px;
        position: static;
        text-align: center;
    }

    #printer-container {
        margin-top: 30px;
        width: 120vw;
    }
}

section.footer {
    background-color: #16272b;
    padding: 50px;
    color: #7fa9b7;
    text-align: center;
    user-select: none;
}

section.footer img {
    margin-right: 30px;
    opacity: 0.9;
}

section.footer img:hover {
    opacity: 1;
}

@media only screen and (max-width: 800px) {
    section.image-row {
        display: table-caption;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    section.footer img {
        display: inline-block;
        margin-top: 30%;
        margin-right: 0%;
    }
}

footer {
    display: inline-block;
    margin: 40px;
    width: 50%;
    font-family: 'Rubik', sans-serif;
    font-size: 10pt;
    border-top: 1px solid #7fa9b7;
    padding-top: 40px;
}

i.fas.fa-bars.nav-mobile {
    color: white;
    float: right;
    line-height: 60px;
    font-size: 20pt;
    transition: 0.5s all;
}

i.fas.fa-bars.nav-mobile.clicked {
    color: #07a4ef;
    transform: rotate(90deg);
}

.blur-in {
    animation-name: focusText;
    animation-duration: 2s;
    font-family: inherit;
    font-size: inherit;
}

button.hero-button {
    background-color: #e7fdff;
    border: none;
    color: #306078;
    padding: 18px 25px;
    margin: 20px;
    margin-top: 40px;
    margin-left: 10px;
    border-radius: 3px;
    font-family: 'Montserrat', 'Nunito', sans-serif;
    font-weight: bold;
    box-shadow: 0px 2px 2px #00000020, inset 0px 2px 3px white;
    text-shadow: 0px 1px 0px #ddd;
    cursor: pointer;
    outline: 0;
    transition: 0.5s all;
}

button.hero-button:hover {
    background-color: #fbfbfb;
}

section#photo-info {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 51;
}

#photo-info span {
    display: block;
    color: white;
    margin-bottom: 5px;
    font-family: 'Nunito';
    text-shadow: 0px 2px 2px black;
    font-size: 9pt;
}

#photo-info a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

#photo-info a:hover {
    text-decoration: underline;
}

div#focus-blurb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

span.small-title {
    font-size: 12pt;
}

span.contact-blurb {
    margin-top: 50px;
    text-transform: none !important;
}

#focus-blurb span {
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px black, 0px 0px 5px black, 0px 0px 1px black, 0px 0px 30px black;
    font-family: 'Rubik';
    font-weight: bold;
}

span.big-title {
    font-size: 42pt;
}

#landing {
    margin-bottom: 10px;
}